<p>hijo works!</p>
<h3>Contador</h3>
<h4>{{contador}}</h4>

<div class="row text-center">
    <div class="col">
        <button (click)="multiplicar()" class="btn btn-primary btnText">Multiplicar</button>
        <button (click)="dividir()" class="btn btn-primary btnText">Dividir</button>
    </div>
</div>
<br>
<div class="row text-center">
  <div class="col">
  <app-nieto></app-nieto>
  </div>
</div>
<!--
<br>
<div class="row text-center">
  <div class="col">
  <app-nieto [contador]="contador" (contadorReset)="resetNieto($event)"></app-nieto>
  </div>
</div>-->